<div class="container">
    <h2>Real-time App with Google Maps</h2>
    <div class="row">
      <div class="col-md-7" ng-controller="mapCtrl">
        <div id="map" style="width:645px; height: 645px;"></div>
      </div>
      <div class="col-md-5 chatroom" ng-controller="chatCtrl">
        <div id="chatWrap">
          <p ng-repeat="msg in msgs track by $index">
            <span ng-if="msg.text">
              <strong>{{msg.name}} :</strong>
              {{msg.text}}
            </span>
            <span ng-if="!msg.text">
              <i>{{msg}}</i>
            </span>
          </p>
        </div>
        <form ng-submit="sendMsg()" action="" onsubmit="return false;">
          <input class="form-control ll" type="text" ng-model="msg.text">
        </form>
      </div>
    </div>
  </div>